<launch>
  <arg name="model" />
  <rosparam command="load" file="$(find tltcomnode)/YAML/Parameters.yaml" />
  <param name="robot_description" textfile="$(find tltrpillar)/urdf/TLT.urdf" />
  <param name="use_gui" value="true"/>

  <node name="TLT_node" pkg="tltcomnode" type="TLTcom" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/rviz/urdf.rviz" required="true" />

</launch>
