<launch>
  <arg name="model" />
  <param name="robot_description" textfile="$(find tltrpillar)/urdf/TLT.urdf" />
  <param name="use_gui" value="true"/>

  <node name="joint_state_publisher" pkg="tltrpillar" type="TFTLT" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/rviz/urdf.rviz" required="true" />

</launch>
